.banner {
  display: flex;
  color: white;
  justify-content: left;
  align-items: center;
  text-shadow: 0 0 2px black;
}

.banner h1, .banner h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
